<!DOCTYPE html>
<html lang="zh-CN" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <meta name="description" content="怎样" />
  <meta name="keywords" content="怎样, 问答, 求职, 大学"/>
  <title>怎样</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="vendor/bootstrap/css/prettify.css" />
  <link rel="stylesheet" href="vendor/css/flat-ui.css" />
  <link rel="stylesheet" href="sign/styles/app.css">
</head>
<body ng-app="signApp">
  <div class="wrapper">
    <div class="zy-sign-background clearfix">
      <div class="zy-sign-main">
        <div class="floater"></div>
        <div class="zy-sign-inner">
          <div class="zy-sign-logo-wrapper">
            <div class="zy-sign-logo"></div>
          </div>
          <div class="zy-sign-slogan-wrapper">
            <div class="zy-sign-slogan">
              求职无门,出国无路,成绩不好 ... 又怎样
            </div>
          </div>
          <tabset justified="true">
            <tab heading="Long Justified">
              <tab-heading>
                感受怎样
              </tab-heading>
                <div class = "zy-loginBoxWrapper">
                    <div ng-controller = "signinCtrl" class="zy-loginBox">
                        
                        <form novalidate name="signinForm" >

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">邮箱</span>
                                    <input type="email" class="form-control" id="zy-test" ng-model="user.email" required/>
                                    <span class="input-icon fui-mail"></span>
                                </div>
                                <div class="zy-alert" role="alert" ng-show="alert.emailNotExist">邮箱未注册</div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">密码</span>
                                    <input type="password" class="form-control" ng-model="user.password" required/>
                                    <span class="input-icon fui-lock"></span>
                                </div> 
                                <div class="zy-alert" role="alert" ng-show="alert.passwordWrong">密码错误<a id="forgetPSW" href="#">忘记密码?</a></div>
                                <div class="zy-alert" role="alert" ng-show="alert.wait15Min">连续错误5次,请于15分钟后再尝试</div>
                                <div class="zy-alert" role="alert" ng-show="alert.passwordRequire">请填写密码</div>
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-embossed btn-primary btn-full" ng-click="login(user)">登录怎样</button>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab heading="Long Justified">
              <tab-heading>
                加入怎样
              </tab-heading>
                <div class = "zy-loginBoxWrapper">
                    <div ng-controller = "signupCtrl" class="zy-loginBox">

                    <form novalidate name="signupForm" >
                      
                      <div class="form-group" >
                                <div class="input-group" id="lastname-group">
                                    <span class="input-group-addon">姓</span>
                                    <input type="text" class="form-control" ng-model="user.lastname" required/>
                                </div>  
                                <div class="input-group">
                                    <span class="input-group-addon">名</span>
                                    <input type="text" class="form-control" ng-model="user.firstname" required/>
                                    <span class="input-icon fui-user"></span>
                                </div>  
                                <div class="zy-alert" role="alert" ng-show="alert.lastnameLength">姓氏应少于4个汉字</div>
                                <div class="zy-alert" role="alert" ng-show="alert.lastnameRequire">请填写您的姓氏</div>
                                <div class="zy-alert" role="alert" ng-show="alert.firstnameLength">名字应少于4个汉字</div>
                                <div class="zy-alert" role="alert" ng-show="alert.firstnameRequire">请填写您的名字</div>
                                <div class="zy-alert" role="alert" ng-show="alert.firstnameInvalid">请填写您的真实名字</div>
                                <div class="zy-alert" role="alert" ng-show="alert.lastnameInvalid">请填写您的真实名字</div>
                            </div>
                      <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">邮 箱</span>
                                    <input type="email" class="form-control" ng-model="user.email" required/>
                                    <span class="input-icon fui-mail"></span>
                                </div>  
                                <div class="zy-alert" role="alert" ng-show="alert.emailInvalid">请填写正确邮箱地址</div>
                                <div class="zy-alert" role="alert" ng-show="alert.emailOccupied">该邮箱已注册<a href="#signin">登录</a></div>
                                <div class="zy-alert" role="alert" ng-show="alert.emailRequire">请填写正确邮箱地址</div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">密 码</span>
                                    <input type="password" class="form-control" ng-model="user.password" required/>
                                    <span class="input-icon fui-lock"></span>
                                </div>  
                                <div class="zy-alert" role="alert" ng-show="alert.passwordRequire">请填写密码</div>
                                <div class="zy-alert" role="alert" ng-show="alert.passwordInvalid">密码由字母,数字和下划线组成</div>
                                <div class="zy-alert" role="alert" ng-show="alert.passwordLength">密码长度为6-16位</div>

                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon">邀请码</span>
                                  <input type="text" class="form-control" ng-model="user.CDK" required/>
                                <span class="input-icon fui-heart"></span>
                                 </div>  
                                <div class="zy-alert" role="alert" ng-show="alert.CDKInvalid">怎样正在内测中,敬请期待</div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-embossed btn-primary btn-full" ng-click="register(user)">注册怎样</button>
                            </div>
                    </form>
                  </div>
                </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div> <!-- /zy-sign-background -->
  </div><!-- /wrapper -->

  <script src="vendor/angular.min.js"></script>
  <script src="vendor/angular-route.js"></script>
  <script src="sign/scripts/app.js"></script>
  <script src="sign/scripts/services.js"></script>
  <script src="sign/scripts/controllers.js"></script>
  <script src="sign/scripts/filters.js"></script>
  <script src="sign/scripts/directives.js"></script>

  <!-- Load JS here for greater good =============================-->
  <script src="vendor/js/jquery-1.8.3.min.js"></script>
  <script src="vendor/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="vendor/js/jquery.ui.touch-punch.min.js"></script>
  <script src="vendor/js/bootstrap.min.js"></script>
  <script src="vendor/js/bootstrap-select.js"></script>
  <script src="vendor/js/bootstrap-switch.js"></script>
  <script src="vendor/js/flatui-checkbox.js"></script>
  <script src="vendor/js/flatui-radio.js"></script>
  <script src="vendor/js/flatui-fileinput.js"></script>
  <script src="vendor/js/jquery.tagsinput.js"></script>
  <script src="vendor/js/jquery.placeholder.js"></script>
  <script src="vendor/js/typeahead.js"></script>
  <script src="vendor/js/holder.js"></script>
  <script src="vendor/js/application.js"></script>
  <script src="vendor/js/ui-bootstrap-tpls-0.11.0.min.js"></script>

</body>
</html>
