<div class="zy-info-position-wrap">
	<div class="zy-info-position-inner zy-info-color" id="zy-student-inner" ng-controller="nonstudentCtrl">
	<form>

		<h4 class="zy-info-title">公司</h4>
   		<input type="text" ng-model="n.company" placeholder="请输入公司名称" typeahead="company for company in getCompany($viewValue)" typeahead-loading="loadingProcess" typeahead-on-select="onselectCompany($item, $model, $label)" class="form-control">
         <div class="zy-alert" role="alert" ng-show="alert.companyRequire">请输入公司名称</div>


         <h4 class="zy-info-title">职位</h4>
   		<input type="text" ng-model="n.position" placeholder="请输入职位名称" typeahead="position for position in getPosition($viewValue)" typeahead-loading="loadingProcess" typeahead-on-select="onselectPosition($item, $model, $label)" class="form-control">
         <div class="zy-alert" role="alert" ng-show="alert.positionRequire">请输入职位名称</div>

		<div class="zy-province-container">
   		<button class="submit-btn" ng-click="nonstudentSubmit(n)">就差最后一步啦</button>
   	</form>
   		</div>
	</div>
</div>