<div class="zy-info-position-wrap">
	<div class="zy-info-position-inner content">
		  <div class="zy-sign-logo-wrapper">
            <div class="zy-sign-logo"></div>
          </div>
		<form novalidate name="modifyPasswordForm" ng-controller="resetCtrl">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">邮箱</span>
                    <input type="email" class="form-control" id="zy-test" ng-model="user.email" required/>
                    <span class="input-icon fui-mail"></span>
                </div>
                <div class="zy-alert" role="alert" ng-show="alert.emailInvalid">邮箱不存在</div>
            </div>
                            
                            
            <div class="form-group">
                <button class="btn btn-embossed btn-inverse btn-float-right" ng-click="send(user)">重设密码</button>
            </div>
            <div class="zy-alert" role="alert" ng-show="success">已发送邮件至邮箱{{user.email}}<a href="/zenyang">去登录</a></div>
            </form>

	</div>
</div>
