<div ng-controller="mainCtrl">
	<div class="col-md-9" role="main content">
		<div>
			<p><span class="fui-list-numbered"></span> 最新动态</p><hr/>
			<tabset>
			<tab>
			<tab-heading>
				「怎样」内测
			</tab-heading>
			<div style="font-align:center; font-size:18px; padding: 5px 30px;">
	      		小伙伴们，这里就是怎样的首页啦！<br/><br/>
	      		作为一个面向在校学生和职场人士的问答平台，我们相信知识和经验的价值，希望提供一个自由提问、讨论、分享的地方，大到职业规划，行业选择，小到工作实习，面试技巧，在这里都可以找到知音和同伴，以及一个真诚的答案。<br/><br/>
				作为怎样第一批内测用户，还等什么，请戳顶部的提问按钮，提出任何关于专业学习或者职业发展的问题；请戳侧边栏的留言板，留下你对怎样的建议，想法，或者吐槽。让我们共同见证一个有效、有范、有情怀的产品，和怎样一起快快成长！<br/><br/>
				怎样团队敬上
			</div>
			</tab>

			</tabset>
		</div>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2" role="side bar">
	</div>
</div>